:root {
  --font-family: system-ui, sans-serif;
  --font-size: 16px;
  --color-text: #222;
  --color-bg: #fff;

  --spacing: 1rem;
  --radius: 8px;
}

a {
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}